{{ define "create" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Login page</title>
</head>
<body>
    <form action="/" method="POST">
        {{ if .}}
            <p> そのユーザーネームは使われてます。</p>
        {{ end }}
        <p>新規登録</p>
        <p>ユーザーネーム: <input type="text" name="name" /></p>
        <p>パスワード: <input type="password" name="password" /></p>
        <input type="submit" value="登録" />
    </form>
</body>
</html>
{{ end }}
