{{ define "find_user"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ユーザー検索</title>
</head>
<body>
    <h1>ユーザー検索</h1>
    <table>
        <thead>
            <th>名前</th>
            <th>フォロー</th>
        </thead>
        <tbody>
            {{ range $user := .}}
            <tr>
                <td>{{ $user.Name }}</td>
                <td><a href="">フォローする</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>

    <a href="/main">戻る</a>
</body>
</html>
{{ end }}
