{{ define "login" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Login page</title>
</head>
<body>
    <div>
        {{ if .LoginMiss }}
        <p>ユーザーネームまたはパスワードが違います。</p>
    {{ end }}
        <form action="/login" method="POST">
            <p>ユーザーネーム: <input type="text" name="name" value=""/></p>
            <p>パスワード: <input type="password" name="password" value=""/></p>
            <input type="submit" value="sign up" />
        </form>
    </div>
    <div>
        <a href="/create"><input type="button" value="sign in"></a>
    </div>
</body>
</html>
{{ end }}
