{{ define "main"}}
{{ $loginUser := .UserName }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>main</title>
</head>
<body>
    <h1>メインページ</h1>
    <br />
    <h2>ユーザーネーム  {{$loginUser}}</h2>
    <br />
    <a href="post">投稿する</a>
    <br />
    <br />
    <a href="/main/find_user">ユーザー検索</a>
    <br />
    <br />
    <a href="/logout">logout</a>
    <br />
    <br />
    {{ range $post := .Texts }}
        <div style="border-style: solid; border-color: black; background-color:dimgrey;">
            <p>{{ $post.Name }} </p>
            <div style=" height: 50px;">{{ $post.Text }}</div>
            {{ if eq $post.Name $loginUser }}
                <a href="/main/delete?id={{ $post.Id }}">削除する</a>
            {{ else }}
                <div>いいね || リツイート</div>
            {{ end }}
        </div>
        <br />
    {{ end }}
    <br />
    <br />

</body>
</html>
{{ end }}
